ALTER TABLE login_form_info DROP CONSTRAINT login_form_info_user_id_fkey; ALTER TABLE login_form_info ADD CONSTRAINT login_form_info_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;
